* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f0f0f0;
}
.navbar {
  height: 150px;
  display: flex;
  justify-content: space-evenly;
  padding: 50px 10px;
  align-items: center;
}
.navbar-item {
  display: flex;
  /* align-items: center; */
}
.navbar-item__span {
  font-weight: bolder;
}
.navbar-item__link {
  font-size: 16px;
  text-decoration: none;
  color: #4f5665;
  margin-right: 40px;
  transition: all 0.3s;
}
.navbar-item__img {
  display: flex;
}
.navbar-item__singIn {
  border: none;
  color: #0b132a;
  background-color: #f0f0f0;
  font-weight: bold;
  font-size: 16px;
  margin-right: 30px;
  cursor: pointer;
}
.navbar-item__singUp {
  border: 1px solid #f53855;
  color: #f53855;
  font-weight: bold;
  font-size: 16px;
  border-radius: 500px;
  padding: 13px 45px;
  transition: all 0.3s;
  cursor: pointer;
}
.navbar-item__singIn:hover {
  color: #f53855;
}
.navbar-item__singUp:hover {
  background-color: #f53855;
  color: #f0f0f0;
}
.navbar-item__link:hover {
  border-bottom: 2px solid #f53855;
  color: #f53855;
}
.start {
  display: flex;
  width: 80%;
  margin: 0px auto;
  margin-top: 70px;
}
.start-left__title {
  font-weight: 500;
  font-size: 50px;
}
.start-left__subtitlee {
  font-size: 16px;
  margin: 50px 0px 50px 0px;
}
.start-left__button {
  background-color: #f53838;
  font-size: 16px;
  color: #f0f0f0;
  font-weight: bold;
  border: none;
  padding: 17.5px 77.5px;
  border-radius: 10px;
  cursor: pointer;
}
start-left {
  width: 50%;
}
.info {
  border-radius: 25px;
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  padding: 55px 76px;
  margin-top: 80px;
  box-shadow: 0 0 10px #bdbdbd;
  margin-left: 100px;
}
.info-item {
  display: flex;
  align-items: center;
}
.info-item__img {
  margin-right: 37px;
}
.info-item-container_text {
  color: #4f5665;
}
.we {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 80px;
}
.text-info__p{

}
.h1 {

}
.text-info__yes{
 display: table;
  
}
.text-info__no{
  display: flex;
}
.welcome{
  position: absolute;
width: 383.41px;
height: 50px;
left: 760.3px;
top: 1586.55px;

font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 50px;
/* identical to box height, or 143% */

text-align: center;

color: #0B132A;
}
.welcome-text{
  position: absolute;
width: 555px;
height: 60px;
left: 690.5px;
top: 1656.55px;

font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;

text-align: center;

color: #4F5665;

}
.plan{
 /* display: flex; */
}
.plan-item{
  position: absolute;
  width: 330px;
  height: 760px;
  left: 400px;
  top: 1776.55px;
  
  background: #FFFFFF;
  border: 2px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 10px;
}
.plan-item2{
  position: absolute;
width: 330px;
height: 760px;
left: 780px;
top: 1776.55px;

background: #FFFFFF;
border: 2px solid #DDDDDD;
box-sizing: border-box;
border-radius: 10px;
}
.plan-item3{
  position: absolute;
width: 330px;
height: 760px;
left: 1160px;
top: 1776.55px;

background: #FFFFFF;
border: 2px solid #F53838;
box-sizing: border-box;
border-radius: 10px;
}
.plan-img{
  position: absolute;
  width: 144.9px;
  height: 165.37px;
  left: 90px;
  top: 86.18px;
}
.plan-h1{
  position: absolute;
  width: 144.9px;
  height: 165.37px;
  left: 90px;
  top: 280.18px;
}
.check-mark__text{
  display: flex;
  position: absolute;
  left: 70px;
  top: 360.18px;
}
.check-mark__text2{
  display: flex;
  position: absolute;
  left: 70px;
  top: 400.18px;
}
.check-mark__text3{
  display: flex;
  position: absolute;
  left: 70px;
  top: 440.18px;
}
.check-mark__text4{
  display: flex;
  position: absolute;
  left: 70px;
  top: 480.18px;
}
.free-h1{
  display: flex;
  position: absolute;
  left: 135px;
  top: 670.18px;
  font-family: Rubik;
  font-size: 25px;
}
.plan-item__button{
  position: absolute;
  left: 90px;
  top: 705.18px;
  font-family: Rubik;
  font-size: 25px;
  border: 1px solid #f53855;
  color: #f53855;
  background-color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  border-radius: 500px;
  padding: 13px 45px;
  transition: all 0.3s;
  cursor: pointer;
}
.plan-item__button:hover{
  background-color: #f53855;
  color: #f0f0f0;
}
.plan-item__img{
  position: absolute;
  width: 144.9px;
  height: 165.37px;
  left: 95px;
  top: 86.18px;
}
.plan-item__h1{
  position: absolute;
  width: 300.9px;
  height: 165.37px;
  left: 75px;
  top: 280.18px;
}
.plan-check{
  display: flex;
  position: absolute;
  left: 70px;
  top: 360.18px;
}
.plan-check2{
  display: flex;
  position: absolute;
  left: 70px;
  top: 400.18px;
}
.plan-check3{
  display: flex;
  position: absolute;
  left: 70px;
  top: 440.18px;
}
.plan-check4{
  display: flex;
  position: absolute;
  left: 70px;
  top: 480.18px;
}
.plan-check5{
  display: flex;
  position: absolute;
  left: 70px;
  top: 520.18px;
}
.planh1{
  display: flex;
  position: absolute;
  left: 115px;
  top: 670.18px;
  font-family: Rubik;
  font-size: 25px;
}
.buttonsel{
  position: absolute;
  left: 90px;
  top: 705.18px;
  font-family: Rubik;
  font-size: 25px;
  border: 1px solid #f53855;
  color: #f53855;
  background-color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  border-radius: 500px;
  padding: 13px 45px;
  transition: all 0.3s;
  cursor: pointer;
}
.buttonsel:hover{
  background-color: #f53855;
  color: #f0f0f0;
}
.item3-img{
  position: absolute;
  width: 144.9px;
  height: 165.37px;
  left: 90px;
  top: 86.18px;
}
.item3-h1{
  position: absolute;
  width: 300.9px;
  height: 165.37px;
  left: 70px;
  top: 280.18px;
}
.itemmarck{
  display: flex;
  position: absolute;
  left: 70px;
  top: 360.18px;
}
.itemmarck2{
  display: flex;
  position: absolute;
  left: 70px;
  top: 400.18px;
}
.itemmarck3{
  display: flex;
  position: absolute;
  left: 70px;
  top: 440.18px;
}
.itemmarck4{
  display: flex;
  position: absolute;
  left: 70px;
  top: 480.18px;
}
.itemmarck5{
  display: flex;
  position: absolute;
  left: 70px;
  top: 520.18px;
}
.itemmarck6{
  display: flex;
  position: absolute;
  left: 70px;
  top: 560.18px;
}
.item3-h2{
  display: flex;
  position: absolute;
  left: 115px;
  top: 670.18px;
  font-family: Rubik;
  font-size: 25px;
}
.button3{
  position: absolute;
  left: 90px;
  top: 705.18px;
  font-family: Rubik;
  font-size: 25px;
  border: 1px solid #f53855;
  color: #FFFFFF;
  background-color: #F53855;
  font-weight: bold;
  font-size: 16px;
  border-radius: 500px;
  padding: 13px 45px;
  transition: all 0.3s;
  cursor: pointer;
}
.global-h1{
  position: absolute;
  width: 330.41px;
  height: 50px;
  left: 760.3px;
  top: 2700.55px;
}
.global-p{
  position: absolute;
  width: 330.41px;
  height: 50px;
  left: 760.3px;
  top: 2800.55px;
}
.global-img{
  position: absolute;
  /* height: 50px; */
  left: 400.3px;
  top: 3000.55px;
  transition: all 0.3s;
}
.global-img2{
  position: absolute;
  left: 400.3px;
  top: 3550.55px;
}
.comment-h1{
  position: absolute;
  width: 370.41px;
  height: 50px;
  left: 760.3px;
  top: 3800.55px;
}
.comment-p{
  position: absolute;
  width: 480.41px;
  height: 50px;
  left: 760.3px;
  top: 3900.55px;
}
.comment{
  display: flex;
}
.comment1{
  position: absolute;
width: 400px;
height: 230px;
left: 260px;
top: 4094.25px;
background: #FFFFFF;
border: 2px solid #F53838;
box-sizing: border-box;
border-radius: 10px;
}
.comment2{
  position: absolute;
width: 400px;
height: 230px;
left: 710px;
top: 4094.25px;
background: #FFFFFF;
border: 2px solid #DDDDDD;
box-sizing: border-box;
border-radius: 10px;
}
.comment3{
  position: absolute;
width: 400px;
height: 230px;
left: 1160px;
top: 4094.25px;
background: #FFFFFF;
border: 2px solid #DDDDDD;
box-sizing: border-box;
border-radius: 10px;
}
.comment1-img{
  position: absolute;
width: 50px;
height: 50px;
left: 30px;
top: 30.25px;

background: url(.png);
}
.comment1-h1{
  position: absolute;
  width: 500px;
  height: 50px;
  left: 100px;
  top: 20.25px;
font-weight: 500;
font-size: 18px;
line-height: 30px;
/* or 167% */

display: flex;
align-items: center;
text-align: center;

color: #0B132A;
}
.comment1-p{
  position: absolute;
  width: 500px;
  height: 50px;
  left: 100px;
  top: 60.25px;
font-size: 14p;
color: #4F5665;
}
.comment1-p2{
  position: absolute;
width: 24px;
height: 16px;
left: 330px;
top: 52.6px;

font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* or 187% */

display: flex;
align-items: center;

color: #0B132A;
}
.comment1-img2{
  position: absolute;
  width: 24px;
  height: 16px;
  left: 360px;
  top: 52.6px;
}
.comment1-h3{
  position: absolute;
width: 340px;
height: 100px;
left: 30px;
top: 100.25px;

font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* or 187% */

display: flex;
align-items: center;

color: #0B132A;
}
.comment2-img{
  position: absolute;
  width: 50px;
  height: 50px;
  left: 30px;
  top: 30.25px;
  
  background: url(.png);
}
.comment2-name{
  position: absolute;
  width: 500px;
  height: 50px;
  left: 100px;
  top: 20.25px;
font-weight: 500;
font-size: 18px;
line-height: 30px;
/* or 167% */

display: flex;
align-items: center;
text-align: center;

color: #0B132A;
}
.comment2-p{
  position: absolute;
  width: 500px;
  height: 50px;
  left: 100px;
  top: 60.25px;
font-size: 14p;
color: #4F5665;
}
.comment2-p2{
  position: absolute;
  width: 24px;
  height: 16px;
  left: 330px;
  top: 52.6px;
  
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* or 187% */
  
  display: flex;
  align-items: center;
  
  color: #0B132A;
}
.comment2-img2{
  position: absolute;
  width: 24px;
  height: 16px;
  left: 360px;
  top: 52.6px;
}
.comment2-h2{
  position: absolute;
  width: 340px;
  height: 100px;
  left: 30px;
  top: 80.25px;
  
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* or 187% */
  
  display: flex;
  align-items: center;
  
  color: #0B132A;
}
.comment3-img{
  position: absolute;
  width: 50px;
  height: 50px;
  left: 30px;
  top: 30.25px;
  
  background: url(.png);
}
.comment3-h1{
  position: absolute;
  width: 500px;
  height: 50px;
  left: 100px;
  top: 20.25px;
font-weight: 500;
font-size: 18px;
line-height: 30px;
/* or 167% */

display: flex;
align-items: center;
text-align: center;

color: #0B132A;
}
.comment3-p{
  position: absolute;
  width: 500px;
  height: 50px;
  left: 100px;
  top: 60.25px;
font-size: 14p;
color: #4F5665;
}
.comment3-p2{
  position: absolute;
  width: 24px;
  height: 16px;
  left: 330px;
  top: 52.6px;
  
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* or 187% */
  
  display: flex;
  align-items: center;
  
  color: #0B132A;
}
.comment3-img2{
  position: absolute;
  width: 24px;
  height: 16px;
  left: 360px;
  top: 52.6px;
}
.comment3-h2{
  position: absolute;
  width: 340px;
  height: 100px;
  left: 30px;
  top: 90.25px;
  
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* or 187% */
  
  display: flex;
  align-items: center;
  
  color: #0B132A;
}
.veb{
  position: absolute;
width: 1140px;
height: 233px;
left: 370px;
top: 4509.28px;

background: #FFFFFF;
border-radius: 10px;
}
.veb-h1{
  position: absolute;
  width: 400px;
  height: 50px;
  left: 80px;
  top: 60px; 
}
.veb-p{
  position: absolute;
  width: 400px;
  height: 50px;
  left: 80px;
  top: 160px; 
}
.veb-button{
  position: absolute;
width: 250px;
height: 60px;
left: 800px;
top: 104px;
color: #FFFFFF;
background: #F53838;
border-radius: 10px;
border: 1px solid #F53838;
}
.LaslesVPN{
  position: absolute;
width: 104px;
height: 24px;
left: 195px;
top: 4811.89px;
display: flex;
font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height */
color: #0B132A;
}
.the-text{
  position: absolute;
width: 340px;
height: 61.57px;
left: 150px;
top: 4862.01px;

font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
/* or 187% */


color: #4F5665;
}
.veb11{
  position: absolute;
left: 10.42%;
right: 87.25%;
top: 95.46%;
bottom: 3.89%;

background: #FFFFFF;
}
.veb12{
  position: absolute;
left: 14.14%;
right: 83.53%;
top: 95.46%;
bottom: 3.89%;

background: #FFFFFF;
}
.veb13{
  position: absolute;
left: 17.86%;
right: 79.81%;
top: 95.46%;
bottom: 3.89%;

background: #FFFFFF;
}
.the-p{
  position: absolute;
width: 132px;
height: 30px;
left: 150px;
top: 5017.18px;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */
text-align: center;
color: #AFB5C0;
}
.the-h{
  position: absolute;
width: 71px;
height: 30px;
left: 720px;
top: 4808.89px;
font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */
color: #0B132A;
}
.the-p2{
  position: absolute;
width: 74px;
height: 30px;
left: 720px;
top: 4858.89px;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */
color: #4F5665;
}
.the-p3{
  position: absolute;
width: 52px;
height: 30px;
left: 720px;
top: 4898.89px;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */
color: #4F5665;
}
.the-p4{
  position: absolute;
width: 73px;
height: 30px;
left: 720px;
top: 4938.89px;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */
color: #4F5665;
}
.the-p5{
  position: absolute;
width: 49px;
height: 30px;
left: 720px;
top: 4978.89px;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */
color: #4F5665;
}
.the-p6{
  position: absolute;
width: 73px;
height: 30px;
left: 720px;
top: 5018.89px;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */
color: #4F5665;
}
.the-p7{
  position: absolute;
width: 34px;
height: 30px;
left: 720px;
top: 5058.89px;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */
color: #4F5665;
}
.the-h2{
  position: absolute;
width: 66px;
height: 30px;
left: 920px;
top: 4808.89px;
font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */
color: #0B132A;
}
.the-p8{
  position: absolute;
width: 91px;
height: 30px;
left: 920px;
top: 4858.89px;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */
color: #4F5665;
}
.the-p9{
  position: absolute;
width: 30px;
height: 30px;
left: 920px;
top: 4898.89px;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */
color: #4F5665;
}
.the-p10{
  position: absolute;
width: 64px;
height: 30px;
left: 920px;
top: 4938.89px;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */
color: #4F5665;
}
.the-p11{
  position: absolute;
width: 69px;
height: 30px;
left: 920px;
top: 4978.89px;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */
color: #4F5665;
}
.the-p12{
  position: absolute;
width: 103px;
height: 30px;
left: 920px;
top: 5018.89px;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */
color: #4F5665;
}
.the-p13{
  position: absolute;
width: 123px;
height: 30px;
left: 920px;
top: 5058.89px;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */
color: #4F5665;
}
.the-h3{
  position: absolute;
width: 102px;
height: 30px;
left: 1169px;
top: 4808.89px;
font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */
color: #0B132A;
}
.the-p14{
  position: absolute;
width: 56px;
height: 30px;
left: 1169px;
top: 4858.89px;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */
color: #4F5665;
}
.the-p15{
  position: absolute;
width: 121px;
height: 30px;
left: 1169px;
top: 4898.89px;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */
color: #4F5665;
}